head {

}

body {

}

header {
    text-align:center;
	margin:0px;
    padding: 0px;
    border-bottom: solid;
    border-color: black;
    display: block;
    border-width: 100%;
}

div {

}

footer {
    
}